.main-home-container {
  max-width: 100vw !important;
}
.proj-sec {
  max-width: 100vw;
  /* min-height: 90vh; */
  background-color: #edeff4 !important;
}
.proj-main-text {
  font-size: 2.15rem !important;
}
.pro-sub-sec {
  background-color: #ffff !important;
}
.pro-sub-sec3 {
  min-height: 80vh !important;
  background-color: #0c1737 !important;
  /* clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%) !important; */
}
.pro-sub-sec3-text1 {
  color: #fff !important;
  font-size: 37px;
}
.pro-sub-sec3-text2 {
  color: #fff !important;
  line-height: 25.28px;
}
/* .pro-sub-sec4{
  background-color: #e9e9e9 !important
} */
.pro-sub-sec5{
  background-color: #fff !important
}

@media screen and (min-width: 1024px) {
  .product-img {
    margin-top: -6rem !important;
    margin-left: 5rem !important;
  }
  .pro-sub-sec3 {
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%) !important;
  }
}
@media screen and (max-width:640px){
  .pro-sub-sec3-text1 {
  color: #fff !important;
  font-size: 35px;
}
.pro-sub-sec3-text2 {
  color: #fff !important;
  line-height: 20.28px;
}
}
@media screen and (max-width: 450px) {
  .proj-main-text {
    font-size: 1.55rem !important;
  }
  .proj-sub-text {
    font-size: 1rem !important;
  }
}
