.single-service {
  background-color: #fff !important;
  height: 26rem !important;
}
.single-service:hover {
  background-color: #faaf40 !important;
  transform: scale(1.1);
}
.single-service:hover .service-btn {
  background-color: #0c1737;
  color: #fff;
}
.single-service-btn {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

@media screen and (max-width: 960px) {
  .single-service {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    height: 23rem !important;
  }
  .single-service-text1 {
    font-size: 2rem !important;
  }
  .single-service-text2 {
    font-size: 1.1rem !important;
    line-height: 20px !important;
  }
}
@media screen and (max-width: 500px) {
  .single-service {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    height: 22rem !important;
  }
  .single-service-text1 {
    font-size: 1.5rem !important;
  }
  .single-service-text2 {
    font-size: 0.7rem !important;
    line-height: 15px !important;
  }
  .service-btn {
    width: 130px !important;
    height: 30px !important;
  }
}
